@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: 'Roboto', sans-serif;
}


header img{
 width: 1cm;
 height: 2cm;
}

header {
    margin-left: 10px;
    margin-right: 10px;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.logo{
    width: 120px;
}

.class-options{
    margin: 30px;
}

.class-search {
    display:flex;
    flex: 1;
    border-radius: 150px;
    border: .2px solid rgb(177, 157, 157);
}

.class-search > span {
    width: 20px;
    align-items: center;
    padding: .6rem 1rem .8rem 1rem;
    font-size: 1.2em;
    color: rgb(148, 109, 109);
}

.class-search > input {
 width: 50%;   
 outline: none;
 border: none;
}

nav{
    display: flex;
    justify-content: space-evenly;

}

.class-others{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    color: rgb(148, 109, 109);
    cursor: pointer;
}

.class-others > span{
    color: black;
    font-size: 17px;
    font-weight: 100;
}

.register {
    padding: 5px;
    border: 2px solid black;
}

.sign-up{
padding: 8px;
background-color: black;
}

.sign-up > span{
    color: white;
}

.hero{
    position: relative;
}

.hero-content{
    background-color: white;
    color: black;
    position: absolute;
    top: 50px;
    left: 60px;
    padding: 25px;
    max-width: 450px;
}

.hero-content h1{
    margin: 8px;
    font-size: 35px;
}

.hero-content p{
    font-size: 20px;
}

.intro{
    margin-top: 25px;
    margin-bottom: 12px;
    padding: 30px;
}

.intro h1, p{
    margin-bottom: 8px;
}

ul{
    list-style: none;

}

a {
    text-decoration: none;
}

.courses li{
    display:inline;
    padding-right: 10px;
}

.courses li a{
   color: rgb(61, 56, 56);
   font-weight: bolder;
}

.courses-intro h2{
    font-family: SuisseWorks,Georgia,Times,times new roman,serif;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.25;
    letter-spacing: -.05rem;
    margin-bottom: 20px;
}

