*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 header img{
 width: 1cm;
 height: 2cm;
}

header {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    width: 120px;
}

.class-search {
    display:flex;
    flex: 1;
    border-radius: 150px;
    border: .2px solid rgb(177, 157, 157);
}

.class-search > span {
    width: 20px;
    align-items: center;
    padding: .6rem 1rem .8rem 1rem;
    font-size: 1.2em;
    color: rgb(148, 109, 109);
}

.class-search > input {
    
}